$primary-blue: #295ee6;
$primary-black: #202020;
$light-blue: #80a2f6;
$dark-gray: #a2a2a2;
$dark-blue: #3E6AAD;
$light-gray: #fcfcfc;
$line-gray: #F3ECEC;
$acent-gray: #e4e4e4;
$border: 1px solid #F3ECEC;
$font: 'Open Sans', arial, sans-serif;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: $font;
  background: $dark-blue;
}

.container {
    margin-top: 95px;
}

.home-link {
  background: $light-blue;
  padding: 10px 10px 15px;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  float:left;
}

.home-link:hover {
    background: $dark-blue;
}

.header {
    height: 50px;
    border-bottom: $border;
    background: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.gradebook-title {
    font-size: 28px;
    font-weight: 400;
    float: left;
    color: $primary-black;
    padding: 10px 5px;
    font-family: $font;
}

button {
  min-width: 60px;
  background: white;
  padding: 6px 10px 5px;
  border: 1px solid $light-blue;
  font-size: 12px;
  color: $primary-blue;
  float: right;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 0.05em;
  outline: none;
  @include rounded();
  cursor: pointer;
}

.invisible {
  display: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.edit-link {
    font-family: $font;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: $primary-blue;
}

.edit-link:hover {
    color: $light-blue;
}

.login-btn {
    float: right;
    padding: 15px;
}

.login-btn #login-buttons {
    min-width: 60px;
    background: $dark-blue;
    padding: 6px 10px 5px;
    font-size: 12px;
    color: white;
    float: right;
    font-family: $font;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    outline: none;
    @include rounded();
    cursor: pointer;
    text-decoration: none !important;
}

.login-btn a {
    text-decoration: none !important;
}

.accounts-dialog a {
    text-decoration: none !important;
    font-family: $font;
    color: $primary-blue;
    font-size: 12px !important;
}

.accounts-dialog {
    left: -200px;
    top: 30px !important;
    width: auto !important;
}

#login-dropdown-list {
    left: -200px !important;
    top: none !important;
}

.loader {
  margin: 1% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
