$primary-blue: #295ee6;
$primary-black: #202020;
$dark-blue: #3E6AAD;
$light-gray: #fcfcfc;
$line-gray: #F3ECEC;
$border: 1px solid #F3ECEC;
$font: 'Open Sans', arial, sans-serif;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-family: $font;
  background: $dark-blue;
}

.home-link {
  background: $primary-blue;
  padding: 0 10px 4px;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  margin-right: 15px;
  float:left;
  @include rounded();
}

.header {
    height: 40px;
    border-bottom: $border;
    padding: 10px 10px 0;
    background: white;
}

button {
  min-width: 60px;
  background: white;
  padding: 6px 10px 5px;
  border: 1px solid $primary-blue;
  font-size: 12px;
  color: $primary-blue;
  float: right;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 0.05em;
  outline: none;
  @include rounded();
}

.invisible {
  display: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}
