@import 'global.scss';

.gradeSheet {
  border-collapse: collapse;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
  @include rounded();
}

.gradesheet-nav {
  padding: 0 20px 13px;
  height: 20px;
  border-bottom: $border;
  font-family: $font;
  color: $primary-blue;
  background: $light-gray;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  top: 51px;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
}

.gradesheet-nav a {
    margin-left: 25px;
    display: inline-block;
}

.gradesheet-nav a:hover {
    color: $light-blue;
}

.add-link {
    border: 1px solid $light-blue;
    font-size: 12px;
    padding: 6px 10px 5px;
    font-family: $font;
    color: $primary-blue;
    @include rounded();
}

.current-sheet {
    font-weight: 400;
    color: $primary-black;
}

.current-sheet:hover {
    color: $primary-black !important;
}

.table-border, .score-cell, .row-name {
  border: 1px solid $line-gray;
  padding: 10px;
  white-space: nowrap;
}

.score-cell input {
  font-size: 13px;
  text-align: right;
  border: none;
  height:100%;
  width: 100%;
}

.score-cell input:focus {
  border: none;
}

.row-name {
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  background: white;
  font-family: $font;
}

.gradeRow {
  margin-top: 20px;
  background: white;
}

.gradeRow-header {
  margin-top: 20px;
}

.gradeRow-header td {
  font-weight: bold !important;
  font-size: 13px !important;
  background: white;
}

.gradeRow-header td input {
  font-weight: bold !important;
  font-size: 13px !important;
}

.sheet-actions {
    position: fixed;
    top: 65px;
    right: 10px;
}

.sheet-actions a {
    margin-left: 10px;
}

.sheet-actions a:hover {
    color: $light-blue;
}

.sheet-container {
    width: auto;
}
