@import 'global.scss';

.table {
    display: table;
    border-collapse: collapse;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
    @include rounded();
    font-family: $font;
    position: absolute;
    top: 95px;
}

.fixed-table {
    display: table;
    border-collapse: collapse;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
    @include rounded();
    font-family: $font;
    position: absolute;
    top: 95px;
    z-index: 2;
}

.table-fixed {
    display: table-cell;
    padding: 10px;
    background: white;
    font-size: 14px;
    border: 1px solid $line-gray;
    line-height: 1.2em;
    font-weight: 400;
}

.table-header .table-cell {
    padding: 10px;
    position: relative;
}

.table-header input {
    font-weight: 400;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    text-align: right;
    min-height: 30px;
    background: white;
    padding: 9px;
    border: 1px solid $line-gray;
}

.table-cell input {
    border: 1px solid $line-gray;
    font-size: 13px;
    text-align: right;
    border: none;
    height:100%;
    min-width: 30px;
}

.table-cell input:focus {
  border: none;
  outline: 0;
}

.gradesheet-nav {
  padding: 0 20px 13px;
  height: 20px;
  border-bottom: $border;
  font-family: $font;
  color: $primary-blue;
  background: $light-gray;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  top: 51px;
}

.gradesheet-nav a {
    margin-left: 25px;
    display: inline-block;
}

.gradesheet-nav a:hover {
    color: $light-blue;
}

.add-link {
    border: 1px solid $light-blue;
    font-size: 12px;
    padding: 6px 10px 5px;
    font-family: $font;
    color: $primary-blue;
    @include rounded();
}

.current-sheet {
    font-weight: 400;
    color: $primary-black;
}

.current-sheet:hover {
    color: $primary-black !important;
}

.gradeRow-header td {
  font-weight: bold !important;
  font-size: 13px !important;
  background: white;
}

.gradeRow-header td input {
  font-weight: bold !important;
  font-size: 13px !important;
}

.sheet-actions {
    position: fixed;
    top: 65px;
    right: 10px;
}

.sheet-actions a {
    margin-left: 10px;
}

.sheet-actions a:hover {
    color: $light-blue;
}

.sheet-container {
    width: auto;
}

.assignmentDetail {
    display: none;
    background: white;
    position: absolute;
    max-width: 130px;
    height: auto;
    border: $border;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
    @include rounded();
    left: 20%;
    z-index: 3;
    padding: 10px;
}

.assignmentDetail .edit-link {
    padding: 5px 0;
}

.assignmentDetail .stats {
    text-align: left;
    line-height: 2em;
    border-bottom: $border;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 11px;
}
