@import 'global.scss';

.gradebook-link .book-title {
    font-size: 16px;
    font-family: $font;
    font-weight: 600;
    color: $primary-blue;
    padding-bottom: 10px;
}

.gradebook-item div:hover {
    color: $light-blue;
}

.add-gradebook {
    margin-top: 10px;
    float: left;
}

.gradebook-title-home {
    font-size: 28px;
    font-weight: 400;
    float: left;
    color: $primary-black;
    padding: 10px 40px;
    font-family: $font;
}

.book-actions {
    border-top: $border;
    padding-top: 12px;
}

.gradebook-card {
    width: 290px;
    height: auto;
    background: white;
    float: left;
    padding: 15px;
    margin: -15px 15px 40px;
    border: $border;
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
    @include rounded();
}
