@import 'global.scss';

.modal-form {
  position: fixed;
  width: 320px;
  right: 10px;
  top: 60px;
  height: auto;
  border: 1px solid $border-gray;
  z-index: 99999;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
  @include rounded();
}

.modal-form input {
  width: 300px;
  padding: 10px 10px;
  border: none;
  border-bottom: $border;
  font-size: 14px;
}

.modal-form button {
  margin: 5px;
}
