@import 'global.scss';

.modal-form {
  position: fixed;
  width: 320px;
  right: 10px;
  top: 15px;
  text-align: left;
  height: auto;
  border: 1px solid $line-gray;
  z-index: 4;
  font-family: $font;
  background: white;
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
  @include rounded();
}

.modal-form input {
  width: 300px;
  padding: 10px;
  border: none;
  text-align: left;
  border-bottom: $border;
  font-size: 14px;
}

.modal-form input:focus {
    border-bottom: $border;
}

.modal-form button {
  margin: 5px;
}

.modal-form .form-header {
    width: 300px;
    padding: 10px;
    font-weight: 400;
    border-bottom: $border;
}

.modal-form .form-close {
    display: inline-block;
    font-family: $font;
    font-weight: bold;
    color: $dark-gray;
    float: right;
}

.modal-form .edit-link {
    padding: 15px 10px 0;
    float: left;
}
